/* * {
  margin: 0px;
  padding: 0px;
} */
.avatar {
  border-radius: 20%;
  box-shadow: 0px 0px 5px rgb(248, 251, 252),
    0px 0px 5px rgba(254, 254, 253, 0.689);
}
.info {
  font-style: italic;
  padding: 0;
  font-size: 20px;
  display: flex;
  /* text-transform: capitalize; */
  /* letter-spacing: 5px; */
  /* word-spacing: 40px; */
}

@media (max-width: 1000px) {
  .info {
    display: block;
    text-align: center;
  }
}
/* a {
  color: white;
  text-decoration: none;
} */
/* .container {
  max-width: 750px;
  background: black;
  box-shadow: inset 1px 1px 2px rgb(240, 243, 244),
    inset -1px 1px 2px rgba(255, 255, 255, 0.689);
} */
.boxer > div {
  width: 25%;
  float: left;
  height: 200px;
  background-color: aliceblue;
  border: 3px green solid;
  border-right-color: blue;
  border-right-width: 4px;
  border-bottom-color: blue;
  border-bottom-width: 4px;
  box-sizing: border-box;
}
/* a:active {
  color: blue;
} */
a:visited {
  color: orangered;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
input:focus,
textarea:focus {
  outline: none;
}
.card {
  padding: 20px 10px;
  margin-bottom: 30px;
  border-radius: 20px;
  /* max-width: 750px; */
  margin-left: 40px;
  margin-right: 40px;
}
.bg-green {
  background: #e5ffe7;
}
.bg-yellow {
  background: #fff9dc;
}
.bg-red {
  background: #ffe5e5;
}
.bg-inset {
  box-shadow: inset 2px 2px 1px rgba(126, 126, 126, 0.301);
}
.card h2,
h1,
p,
h4,
a {
  margin-left: 20px;
  padding: 10px 0px 10px;
}
.list li {
  color: #bad287;
}
.table {
  width: 100%;
  padding: 20px 20px 20px;
}
.table td:nth-child(1),
.table td:nth-child(2) {
  color: #b5b5b7;
}
.table tr,
td {
  padding: 5px 20px 5px;
}
.table tr:nth-child(even) {
  background: #bad287;
}
.table tr:nth-child(odd) {
  background: #ffa2016d;
}
.link-list li {
  list-style: none;
  padding: 0px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ccc;
}
/* .contact h2 {
  text-align: center;
} */
.form-group label {
  display: block;
  font-size: 14;
  color: orangered;
}
.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #ccc;
  color: black;
  padding: 15px 0px 10px;
  outline: none;
  font-family: inherit;
}
.row {
  display: flex;
  margin-bottom: 20px;
}
.row > .form-group {
  width: 50%;
}
.row > .form-group:first-child {
  margin-right: 20px;
}
.btn {
  background: black;
  padding: 10px 5px 10px;
  color: #fff;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.7;
}
.position {
  position: relative;
  border: 4px solid black;
  margin-top: 40px;
  padding: 50px;
  height: 400px;
  width: 400px;
}
/* .box {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  background-color: rgb(1, 0, 0);
  padding: ;
} */
.button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgb(0, 0, 0);
  border-width: 3px;
  border-color: rgb(14, 14, 14);
  color: white;
  padding: 5px 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 20%;
  width: 40px;
  height: 25px;
  /* padding: auto; */
}
.button1 {
  position: fixed;
  bottom: 65px;
  right: 20px;
  background-color: rgb(0, 0, 0);
  border-width: 3px;
  border-color: rgb(14, 14, 14);
  color: white;
  padding: 5px 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 20%;
  width: 90px;
  height: 25px;
}
.button:hover,
.button1:hover {
  opacity: 0.5;
}
.button:visited {
  color: white;
}
.button1:visited {
  color: white;
}
